.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cell-light {
  background-color:green;
}

.cell-dark {
  background-color:saddlebrown;
}

.cell-selected {
  border: 1px solid yellow !important;
}

.cell {
  height: 70px;
  width: 70px;
  float:left;
  border: 1px solid white;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}


